<div class="container"
fxLayout="column"
fxLayoutGap="10px">

<div fxFlex>
<div>
 <h3>Category</h3>
 <hr>
</div>
</div>

<div fxFlex >
<mat-grid-list cols="2" rowHeight="200px">
 <mat-grid-tile *ngFor="let category of categories" [routerLink] ="['/category-products',category._id]" >
   <img height="200px" src="{{BaseURL + category.product[0].image_url}}" alt={{category.name}}>
   <mat-grid-tile-footer>
     <h1 mat-line>{{category.name | uppercase}}</h1>
   </mat-grid-tile-footer>
 </mat-grid-tile>
</mat-grid-list>

<div [hidden]="categories">
  <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div> 


</div>
</div>