<div class="container"
fxLayout="column"
fxLayoutGap="10px">

<div fxFlex>
<div>
 <h3>Category</h3>
 <hr>
</div>
</div>

<div fxFlex>
<mat-grid-list cols="2" rowHeight="200px">
 <mat-grid-tile *ngFor="let product of products" (click)="onSelect(product)">
   <img height="200px" src={{product.image}} alt={{product.name}}>
   <mat-grid-tile-footer class="footer_primary">
     <h1 mat-line>{{product.name | uppercase}}</h1>
   </mat-grid-tile-footer>
 </mat-grid-tile>
</mat-grid-list>
</div>
<app-product-details [product]="selectProduct"></app-product-details>

</div>