<div class="container"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px"
fxLayoutGap.xs="0">
    <div fxFlex="40" >
    <mat-card *ngIf="product" class="background-header">
      <mat-card-header>
      <mat-card-title>
        <h3>{{product.name}}</h3>
      </mat-card-title>
      </mat-card-header>
      <img mat-card-image src={{product.image}} alt={{product.name}}>
      <mat-card-content>
        <p>{{product.description}}</p>
        <p><span class="fa fa-inr"></span>{{product.price}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    <div [hidden]="product">
      <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
    </div> 
    
   </div>
  

  <div fxFlex="40" *ngIf="product">
  <h4>Comments</h4>
  <mat-list-item *ngFor="let comment of product.comments">
  <h3 mat-line> {{comment.comment}} </h3>
  <p mat-line>{{comment.rating}} Stars</p>
  <p mat-line>
    <span>--{{comment.customer_name}} {{comment.date | date}}
    </span>
    </p>
  </mat-list-item>
  </div>
  <div [hidden]="product">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div> 
  
</div>