<section id="basic-form-layouts">
  <div class="row">
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title" id="basic-layout-form">Project Info</h4>
          <p class="mb-0">This is the most basic and default form having form sections. To add form section use
            <code>.form-section</code> class with any heading tags. This form has the buttons on the bottom left corner which is the default position.</p>
        </div>
        <div class="card-body">
          <div class="px-3">
            <form class="form">
              <div class="form-body">
                <h4 class="form-section">
                  <i class="ft-user"></i> Personal Info</h4>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput1">First Name</label>
                      <input type="text" id="projectinput1" class="form-control" name="fname">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput2">Last Name</label>
                      <input type="text" id="projectinput2" class="form-control" name="lname">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput3">E-mail</label>
                      <input type="text" id="projectinput3" class="form-control" name="email">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput4">Contact Number</label>
                      <input type="text" id="projectinput4" class="form-control" name="phone">
                    </div>
                  </div>
                </div>

                <h4 class="form-section">
                  <i class="ft-file-text"></i> Address</h4>

                <div class="form-group">
                  <label for="companyName">address</label>
                  <input type="text" id="companyName" class="form-control" name="company">
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput1">City</label>
                      <input type="text" id="projectinput1" class="form-control" name="fname">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput2">State</label>
                      <input type="text" id="projectinput2" class="form-control" name="lname">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput3">Land-mark</label>
                      <input type="text" id="projectinput3" class="form-control" name="email">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput4">Pincode</label>
                      <input type="text" id="projectinput4" class="form-control" name="phone">
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-actions">
                <button type="button" class="btn btn-raised btn-raised btn-primary">
                  <i class="fa fa-check-square-o"></i> Order
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>