<div class="container" *ngIf="products?.length > 0">
  <div class="col-xl-8 col-lg-12 col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Shopping Cart</h4>
      </div>
      <div class="card-body">
        <table class="table table-responsive-sm ">
          <thead>
            <tr>
              <th>Image</th>
              <th>Product</th>
              <th>Quantity</th>
              <th>Amount</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
              <td>
                <img height="40" width="50" src="{{BaseURL + product.image}}" alt={{product.name}}/>
              </td>
              <td>{{product.name}}</td>
              <td>{{product.quantity}}</td>
              <td>${{product.price}}</td>
              <td>
                <button (click)="deleteCart(product.id,product.original)" class="danger" data-original-title="" title="">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>

          </tbody>
        </table>
        <div>
          <button mat-button [routerLink]="['/order']">Continue..</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="products?.length < 1">
  <img src="assets/handi_image/empty-cart.jpg" alt={{product.name}}/>

</div>