<mat-toolbar  mat-dialog-title class="background-primary text-floral-white">
  Signup
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<p>{{ user | json }}</p>

<form novalidate #signupForm="ngForm" (ngSubmit)="onSubmit()">

  <mat-dialog-content>
    <p>
      <mat-input-container dividerColor="{{username.invalid && !username.pristine ? 'warn' : 'primary'}}">
        <input matInput placeholder="Username" type="text" [(ngModel)]="user.username" name="username" #username="ngModel" required>
        <mat-hint>
            <span [hidden]="username.pristine">
            <span [hidden]="!username.errors?.required">username is required</span>
            </span>
          </mat-hint>
      </mat-input-container>


      <mat-input-container dividerColor="{{phone.invalid && !phone.pristine ? 'warn' : 'primary'}}">
        <input matInput placeholder="Phone" type="text" [(ngModel)]="user.phone" name="phone" #phone="ngModel" required>
        <mat-hint>
            <span [hidden]="phone.pristine">
            <span [hidden]="!phone.errors?.required">phone is required</span>
            </span>
          </mat-hint>
      </mat-input-container>


      <mat-input-container dividerColor="{{adress.invalid && !adress.pristine ? 'warn' : 'primary'}}">
        <input matInput placeholder="Adress" type="text" [(ngModel)]="user.adress" name="adress" #adress="ngModel" required>
        <mat-hint>
            <span [hidden]="adress.pristine">
            <span [hidden]="!adress.errors?.required">adress is required</span>
            </span>
          </mat-hint>
      </mat-input-container>


      <mat-input-container dividerColor="{{password.invalid && !password.pristine ? 'warn' : 'primary'}}">
        <input matInput placeholder="Password" type="password" [(ngModel)]="user.password" name="password"  #password="ngModel" required>
        <mat-hint>
            <span [hidden]="password.pristine">
            <span [hidden]="!password.errors?.required">password is required</span>
            </span>
          </mat-hint>
      </mat-input-container>


      <mat-checkbox [(ngModel)]="user.remember" name="remember">Remember Me</mat-checkbox>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>Cancel</button>
    <button type="submit" mat-button class="background-primary text-floral-white"
    [disabled]="signupForm.form.invalid" >Signup</button>
  </mat-dialog-actions>
</form>